:root {
	--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--Soft-red: hsl(14, 88%, 65%);
	--Soft-violet: hsl(273, 75%, 66%);
	--Soft-blue: hsl(240, 73%, 65%);
	--Very-dark-grayish-blue: hsl(237, 12%, 33%);
	--Dark-grayish-blue: hsl(240, 6%, 50%);
	--Light-grayish-blue: hsl(240, 5%, 91%);
	font-size: 12px;
	font-family: 'Kumbh Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(180deg, var(--Soft-violet) 0%, var(--Soft-blue) 100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3 {
	font-weight: 400;
	margin-bottom: 1rem;
}

ul {
	list-style: none;
}

.component {
	margin: 0 auto;
	width: 70vw;
	padding: 1rem 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 1.5rem;
	background-color: white;
	box-shadow: 2px 15px 25px rgba(1, 2, 4, .4);
} .component > div {
	width: 50%;
}

.main-title {
	margin: 2rem 0;
}

/* Card default state*/
.card {
	margin: 2rem 0;
	cursor: pointer;
	max-width: 80%;
	border-bottom: 1px var(--Light-grayish-blue) solid;
} .card:hover h3 {
	color: var(--Soft-red);
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
}

.card-img {
	display: block;
}

.card-answer {
	margin-bottom: .5rem;
	display: none;
}

/* Card Active state */
.card.active .card-title {
	font-weight: bold;
} .card.active .card-answer {
	display: block;
} .card.active .card-img {
	transform: rotate(180deg);
}

/* img */
figure {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	display: block;
	position: relative;
}
.illustration {
	display: block;
	position: absolute;
	top: -100%;
	left: -200%;
	width: 350px;
}

@media (max-width: 700px) {
	.component {
		flex-direction: column;
	} .component > div {
		width: 100%;
	}

	.illustration {
		width: 200px;
		top: -20%;
		left: -50%;
	}

	.card {
		max-width: 100%;
	}
}